.main_chat
  .main_chat__group_info
    .main_chat__group_info--left
      .main_chat__group_info--left__name
        grop
      .main_chat__group_info--left__member
        members
    .main_chat__group_info__edit
      Edit
  .main_chat__messages
    .main_chat__messages__message
      .main_chat__messages__message--top
        .main_chat__messages__message--top__user
          newguy
        .main_chat__messages__message--top__time_stamp
          2019/12/06(Fri) 17:20:00
      .main_chat__messages__message__text
        message
      %img.main_chat__messages__message__image(src="" alt="")
    .main_chat__create
      .main_chat__create__box
        %input.main_chat__create__box__new_message{placeholder: "type a message", type: "text"}
        .main_chat__create__box__img_btn
          %label.main_chat__create__box__img_btn
            = icon('far', 'image')
            %input.main_chat__create__box__img_btn{type: "file"}
      .main_chat__create__send
        Send
