.side_bar
  .side_bar__user
    .side_bar__user__name
      user name
    .side_bar__user__icons
      .side_bar__user__icons__group
        = icon('fas', 'edit')
      .side_bar__user__icons__account
        = icon('fas', 'cog')